.App {
  margin: 0 auto;
  max-width: 1440px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #a0a2a6;
  margin: 0 auto;
  margin-top: 3px;
  align-self: center;
}

.oval {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #d74179;
}
.line {
  height: 1px;
  width: 266px;
  border: 1px solid #979797;
  opacity: 0.4;
}

.background {
  background: url(./assets/Group.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
